<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home - File Uploader</title>
  </head>
  <body>
    <h1>Welcome to File Uploader</h1>
    <p>Please log in or sign up.</p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </body>
</html>
