<!DOCTYPE html>
<html lang="en"></html>
  <head>
    <meta charset="UTF-8" />
    <title>Link Error</title>
  </head>
  <body style="text-align: center; padding-top: 50px; font-family: sans-serif">
    <h1 style="color: red">⚠️ Oops, something went wrong</h1>
    <p style="font-size: 1.2rem"><%= message %></p>
    <a href="/">Go to the homepage</a>
  </body>
</html>
